# Ignore EVERYTHING by default
*
!*/

# Whitelist specific files for public release
!README.md
!LICENSE
!CONTRIBUTING.md
!SECURITY.md
!RELEASE_NOTES.md
!assets/
!assets/**
!docs/
!docs/**
!.gitignore
